


//Color del texto violeta
$color-violeta-opacidad: rgba(87,46,229,0.90);
$color-violeta:#572EE5;
//Color del texto verde
$color-verde:#5ED7C6;
//Color negro de texto
$color-negro: #000000;

/* Links variables */

//Color de los links
$color-footer-links:#CDD6E0;