/* Links variables */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body.dark {
  background-color: #37383C;
}

.contenedor-gift-trending .user-gifs {
  z-index: 2000;
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: red;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 5px;
}

.contenedor-gift-trending .titulos-gifs {
  z-index: 2000;
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: yellowgreen;
}

.contenedor-gift .boton-favoritos-corazon-activo {
  -webkit-transform: translate(120px, 0px);
          transform: translate(120px, 0px);
}

.contenedor-gift .boton-descarga {
  -webkit-transform: translate(120px, 0px);
          transform: translate(120px, 0px);
}

.contenedor-gift .boton-agrandar {
  -webkit-transform: translate(120px, 0px);
          transform: translate(120px, 0px);
}

.contenedor-gift .titulos-gifs-buscador-favoritos {
  z-index: 2000;
  position: relative;
  width: 50%;
  /* float: left; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-align: center;
  -webkit-transform: translate(-112px, 0px);
          transform: translate(-112px, 0px);
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.contenedor-gift .user-gifs {
  z-index: 2000;
  position: relative;
  width: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: red;
  text-align: center;
}

.dark .ouch img {
  content: url("/Assets/icon-busqueda-sin-resultado-noc.svg");
}

.dark .corazon-grande-noc {
  content: url("Assets/icon-fav-sin-contenido-noc.svg");
}

.dark .cabeza-grande-tus-gifos {
  content: url("Assets/icon-mis-gifos-sin-contenido-noc.svg");
}

.dark .tus-gifos-titulo {
  color: white;
}

.dark .favoritos-titulo {
  color: white;
}

.dark .mi-boton {
  border: none;
  border: 1px solid white;
  color: white;
  background-color: #37383C;
}

.dark .mi-boton:hover {
  background-color: white;
  color: black;
}

.dark .boton-busqueda {
  border: none;
  background-color: #37383C;
  outline: none;
  cursor: pointer;
}

.dark .boton-busqueda .btn-borrar {
  content: url("Assets/button-close-noc.svg");
}

.dark .lupa-derecha {
  content: url("Assets/icon-search-noc.svg");
  background-color: #37383C;
}

.dark .logo {
  content: url("Assets/logo-mobile-noc.svg");
}

.dark .cruz-menu {
  content: url("Assets/button-close-noc.svg");
}

.dark .hamburguesa {
  content: url("Assets/burger-noc.svg");
}

.dark footer {
  border-color: #000000;
}

.dark .boton-menu {
  background-color: #37383C;
}

.dark .trendigns-section-estilos {
  background-color: #222326;
}

.trendigns-section-estilos .btn-next-previous {
  background-color: white;
  position: absolute;
  outline: none;
  width: 40px;
  height: 40px;
  border: 1px solid #572EE5;
}

.trendigns-section-estilos .btn-next-previous:hover {
  background-color: #572EE5;
}

.trendigns-section-estilos .btn-next-previous:hover .btn-next-img {
  content: url("Assets/button-right-hover.svg");
}

.trendigns-section-estilos .btn-next-previous:hover .btn-previous-img {
  content: url("Assets/button-left-hover.svg");
}

.trendigns-section-estilos #next {
  right: 200px;
}

.trendigns-section-estilos #previous {
  left: 200px;
}

.dark .trendigns-section-estilos .btn-next-previous {
  outline: none;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
}

.dark .trendigns-section-estilos .btn-next-previous .btn-next-img {
  content: url("Assets/button-right-hover.svg");
}

.dark .trendigns-section-estilos .btn-next-previous .btn-previous-img {
  content: url("Assets/button-left-hover.svg");
}

.dark .trendigns-section-estilos .btn-next-previous:hover {
  background-color: white;
}

.dark .trendigns-section-estilos .btn-next-previous:hover .btn-next-img {
  content: url("Assets/button-right-noc.svg");
}

.dark .trendigns-section-estilos .btn-next-previous:hover .btn-previous-img {
  content: url("Assets/button-left-noc.svg");
}

.dark .compartir-en {
  color: #FFFFFF;
}

.dark .gifos-derechos-reservados {
  color: #FFFFFF;
}

.dark ul .footer-links {
  background-color: #37383C;
  color: #FFFFFF;
}

.dark input {
  background-color: #37383C;
  color: #FFFFFF;
}

.dark .fieldset-busqueda {
  border-color: white;
}

.foto {
  background-color: #c5aaaa;
  border: solid black;
  width: 243px;
  height: 187px;
}

.gift-posicion {
  position: absolute;
  width: 243px;
  height: 187px;
}

.boton-favoritos-corazon-activo {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  margin-right: 11px;
  margin-top: 10px;
  z-index: 100;
}

.boton-favoritos-corazon-activo:hover {
  opacity: 1;
}

.boton-descarga {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  margin-top: 10px;
  margin-right: 11px;
  z-index: 100;
}

.boton-descarga:hover {
  opacity: 1;
}

.boton-agrandar {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  margin-top: 10px;
  margin-right: 11px;
  z-index: 100;
}

.boton-agrandar:hover {
  opacity: 1;
}

.lupa {
  float: left;
  padding-top: 5px;
  color: #9cafc3;
  padding-right: 14px;
  font-size: 20px;
  opacity: 0;
}

.ocultar {
  display: none !important;
}

.linea {
  width: 157px;
  border-top: 1px solid #9cafc3c2;
}

#logo {
  cursor: pointer;
}

.logo-padding {
  padding-top: 34px;
  padding-bottom: 17.2;
  padding-left: 22px;
}

.boton-menu-padding {
  padding-top: 52px;
  padding-right: 26px;
  padding-bottom: 34px;
}

.tipografia-home-padding {
  padding-top: 7px;
  padding-left: 45px;
  padding-right: 44px;
}

.imagen-central-padding {
  padding-top: 31px;
  padding-left: 51px;
  padding-right: 51px;
}

.fieldset-busqueda-padding {
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 55px;
}

.treding-padding {
  padding-top: 31px;
  padding-left: 70px;
  padding-right: 69px;
  padding-bottom: 2px;
}

.trendig-texto-padding {
  padding-bottom: 45px;
  padding-right: 75px;
  padding-left: 75px;
}

.tipo-de-busqueda-titulo-padding {
  padding-bottom: 38px;
  padding-top: 35px;
}

.treding-gifos-padding {
  padding-top: 46px;
  padding-bottom: 7px;
}

.ultimos-gifos-padding {
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 32px;
}

.compartir-en-padding {
  padding-bottom: 21px;
}

.gifos-derechos-reservados-padding {
  padding-bottom: 23px;
  padding-top: 47.8;
}

.favoritos-titulo-padding {
  padding-bottom: 46px;
  padding-top: 7px;
}

.ouch {
  margin-top: 105px;
}

.corazon-verde-padding {
  padding-top: 12px;
}

.cara-verde-padding {
  padding-top: 12px;
}

.corazon-grande-favoritos {
  padding-top: 110px;
}

.tus-gifos-titulo-padding {
  padding-bottom: 46px;
  padding-top: 7px;
}

.texto-seccion-cabeza-grande {
  font-family: "Montserrat, sans-serif";
  font-size: 22px;
  color: #5ED7C6;
  text-align: center;
  line-height: 33px;
  font-weight: 700;
  padding-top: 24px;
}

header {
  border-top: 5px solid #572EE5;
  height: 85px;
  margin-bottom: 7px;
}

.dark header {
  border-top: 5px solid #000000;
}

.boton-menu {
  background-color: white;
  outline: none;
  border: none;
}

.menu {
  background: rgba(87, 46, 229, 0.9);
  width: 100%;
  position: absolute;
  z-index: 1000;
  -webkit-animation-name: alto-menu;
          animation-name: alto-menu;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dark .menu {
  background-color: #000000;
}

.menu .menu-link li {
  list-style: none;
}

.menu .menu-link .links-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  position: relative;
}

.links-menu:after {
  content: "";
  height: 1px;
  width: 40%;
  background: white;
  position: absolute;
  left: 30%;
  top: 30px;
}

/* ESTILOS DE TIPOGRAFIA */
.texto-otra-busqueda {
  font-family: Montserrat-Bold;
  font-size: 22px;
  color: #5ED7C6;
  text-align: center;
  line-height: 25px;
  font-weight: 900;
  margin-bottom: 149px;
  margin-top: 29px;
}

.texto-seccion-favoritos {
  font-family: "Montserrat, sans-serif";
  font-size: 22px;
  color: #5ED7C6;
  text-align: center;
  line-height: 33px;
  font-weight: 700;
  padding-top: 24px;
}

.tipografia-home {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
}

.dark .tipografia-home {
  color: #FFFFFF;
}

.tipografia-home-1 {
  font-size: 30px;
  color: #5ED7C6;
  text-align: center;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
}

.trending-texto {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.dark .trending-texto {
  color: #FFFFFF;
}

.treding {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.dark .treding {
  color: #FFFFFF;
}

.tipo-de-busqueda-titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 40px;
  position: relative;
  border-top: #9cafc37e 1px solid;
  width: 157px;
}

.dark .tipo-de-busqueda-titulo {
  color: #FFFFFF;
}

.tipo-de-busqueda-titulo::first-letter {
  font-size: 130%;
  text-transform: uppercase;
}

.treding-gifos {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.dark .treding-gifos {
  color: #FFFFFF;
}

.ultimos-gifos {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

.dark .ultimos-gifos {
  color: #FFFFFF;
}

.compartir-en {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.gifos-derechos-reservados {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
}

.favoritos-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.tus-gifos-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

/* FIN ESTILOS DE TIPOGRAFIA (Celular) */
.formulario-busqueda {
  width: 400px;
  margin: 0 auto;
}

.fieldset-busqueda {
  border-radius: 40px;
  border: solid 1px;
  border-color: #572EE5;
  font-family: ProximaNova-Regular;
  font-size: 16px;
  text-align: left;
  width: 334px;
}

.busqueda {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: left;
  outline: none;
  text-decoration: none;
  background-color: white;
  width: 215px;
  margin-right: 24px;
}

.boton-busqueda {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.mi-boton {
  border: none;
  border: 1px solid #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  padding-bottom: 16px;
  padding-left: 32.5px;
  padding-right: 31.5px;
  padding-top: 18px;
  border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin-top: 78px;
  margin-bottom: 79px;
}

.mi-boton:hover {
  background-color: #572EE5;
  color: white;
}

.autocompletar-busquedas {
  position: relative;
  opacity: 0.5;
  border-top: 1px solid #9cafc3;
  z-index: 99;
  float: 0;
  right: 0;
  padding-top: 14px;
}

.autocompletar-busquedas div {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9cafc3;
  text-align: left;
  padding-bottom: 10px;
}

.autocompletar-busquedas div::before {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  content: " \f002";
  font-weight: 900;
  margin-right: 14.5px;
}

.autocompletar-busquedas div:hover {
  background-color: #572EE5;
  border-radius: 20px;
  opacity: 0.5;
}

/* Estilos links */
.footer-links {
  list-style: none;
  background-color: white;
  color: #CDD6E0;
  padding-top: 24px;
  padding-bottom: 46px;
  padding-right: 19px;
  text-align: center;
}

/*Fin estilos links */
footer {
  height: 196px;
  border-bottom: 5px solid #572EE5;
}

.contenedor1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (max-width: 360px) {
  .contenedor1 .imagen-central {
    max-width: 100%;
  }
  .fieldset-busqueda-padding {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.contenedor2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.contenedor3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contenedor5 {
  width: 98%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 243px 243px;
      grid-template-columns: 243px 243px;
  grid-gap: 25px 21px;
  padding: 10px;
}

.contenedor-gift {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 243px;
  height: 187px;
  background-color: #572EE5;
}

.contenedor-gift:hover .mi-imagen {
  mix-blend-mode: normal;
  opacity: 0.4;
}

.contenedor-gift-trending {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 243px;
  height: 187px;
  margin-bottom: 131px;
  margin-top: 32px;
  margin-left: 22px;
  margin-right: 22px;
  background-color: #572EE5;
}

.contenedor-gift-trending:hover .mi-imagen {
  mix-blend-mode: normal;
  opacity: 0.4;
}

.contenedor-gift-trending .div-contenedor-botones-textos {
  width: 100%;
  height: 187px;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contenedor-gift-trending .div-contenedor-botones-textos .div-contenedor-botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: saddlebrown;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contenedor-gift-trending .div-contenedor-botones-textos .div_contenedor_texto {
  width: 100%;
  background-color: seagreen;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contenedor6 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i:hover {
  color: #572EE5;
}

@-webkit-keyframes alto-menu {
  from {
    height: 40%;
    display: none;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes alto-menu {
  from {
    height: 40%;
    display: none;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  header {
    border-top: 5px solid #572EE5;
    height: 90px;
    margin-bottom: 76px;
    width: 100%;
  }
  .dark header {
    border-top: 5px solid #000000;
  }
  header .contenedor3 {
    position: absolute;
  }
  header .contenedor3 .logo {
    z-index: 10000;
  }
  header .menu {
    background-color: white;
    position: relative;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .dark header .menu {
    background-color: #37383C;
  }
  header .menu .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    background-color: white;
    position: absolute;
    width: 50%;
    height: 90px;
  }
  .dark header .menu .menu-link {
    background-color: #37383C;
  }
  header .menu .menu-link .btn-crear-gifo {
    background: #FFFFFF;
    border: 1px solid #572EE5;
    height: 54px;
    width: 54px;
    border-radius: 50%;
  }
  header .menu .menu-link .btn-crear-gifo:hover {
    background-color: #572EE5;
  }
  header .menu .menu-link .btn-crear-gifo:hover img {
    content: url("Assets/button-crear-gifo-noc.svg");
  }
  header .menu .menu-link .btn-crear-gifo:hover:active {
    background-color: #9CAFC3;
    border: solid #9CAFC3 1px;
  }
  header .menu .menu-link .btn-crear-gifo:hover:active img {
    content: url("Assets/button-crear-gifo-noc.svg");
  }
  .dark header .menu .menu-link .btn-crear-gifo {
    border: 1px solid white;
    border-radius: 50%;
    background-color: #37383C;
  }
  .dark header .menu .menu-link .btn-crear-gifo img {
    content: url("Assets/button-crear-gifo-noc.svg");
  }
  .dark header .menu .menu-link .btn-crear-gifo:hover {
    background-color: white;
  }
  .dark header .menu .menu-link .btn-crear-gifo:hover img {
    content: url("Assets/button-crear-gifo-noc-hover.svg");
  }
  .dark header .menu .menu-link .btn-crear-gifo:active {
    background-color: #9CAFC3;
    border: solid #9CAFC3 1px;
  }
  .dark header .menu .menu-link .btn-crear-gifo:active img {
    content: url("Assets/button-crear-gifo-noc.svg");
  }
  header .menu .menu-link .links-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
  }
  header .menu .menu-link .links-menu:after {
    content: "";
    display: none;
  }
  .dark header .menu .menu-link .links-menu {
    color: white;
  }
  .contenedor5 {
    width: 98%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 243px 243px 243px 243px;
        grid-template-columns: 243px 243px 243px 243px;
    grid-gap: 28px 29px;
    padding: 10px;
  }
  .footer-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-pc .compartir-en-padding {
    padding-bottom: 52px;
    padding-left: 152px;
  }
  .footer-pc .gifos-derechos-reservados-padding {
    padding-bottom: 52px;
    padding-right: 158px;
    -webkit-transform: translate(143%, 0px);
            transform: translate(143%, 0px);
  }
  .footer-pc .contenedor2 {
    width: 200px;
  }
}
/*# sourceMappingURL=estilos.css.map */